.content {
    display: flex; /* Use flexbox to align child elements horizontally */
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .split {
    display: flex; /* Flexbox to align children side by side */
    width: 100%;
  }
  
  .bg-left {
    width: 50%; /* Takes up 40% of the width */
    background-color: #fff; /* Optional for debugging */
    padding: 20px;
  }
  
  .bg-right {
    width: 50%; /* Takes up 60% of the width */
    background-color: #fff; /* Optional for debugging */
    padding: 20px 30px 20px 30px;
  }
  
  .line2 {
    width: 100vw; /* Full viewport width */
    height: 1px;
    background-color: black;
    margin: 20px 0px 30px 0; /* Correct margin syntax (remove commas) */
    padding-bottom: 0;
    position: relative; /* Ensure it doesn't get affected by surrounding elements */
    left: 0; /* Align to the left of the viewport */
  }
  
  .skills-section {
    margin: 0px 20px;
    align-items: center;
    justify-content: center;
}

.skill-badge {
    color: white;
    background-color: black;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 20px;
    margin: 20px 0px;
}