.main {
    padding: 10px 0;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    font-size: 2vw;
  }
  
  .year, .site {
    margin: 0px 20px;
  }
  
  .title {
    text-align: left;
    margin: 0px 20px;
  }
  
  .line, .line3 {
    width: 100vw;
    height: 1px;
    background-color: black;
    margin-top: 20px;
    padding-bottom: 0;
  }
  
  .line3 {
    margin-bottom: 30px;
  }
  
  .banner {
    padding-top: 20px;
    justify-content: center;
    text-align: center;
    font-size: 10vw;
    color: #EBFF00;
    width: 100%;
    height: 80%; /* Adjust the height as needed */
    background-image: url('../src/assets/images/jacke.JPG');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    overflow: hidden; /* Ensure content does not overflow */
  }
  
  .name {
    position: relative;
    top: -50px;
    line-height: 0.9;
  }
  
  .moving-text {
    position: absolute;
    top: 0;
    left: -100%; /* Start from outside the left edge */
    width: 200%; /* Ensure text spans the entire width */
    text-align: left;
    font-size: 3vw;
    white-space: nowrap; /* Prevent text from wrapping */
    animation: moveText 15s linear infinite; /* Apply the animation */
  }
  
  @keyframes moveText {
    0% {
      transform: translateX(0); /* Start from the left edge */
    }
    100% {
      transform: translateX(100%); /* Move to the right edge */
    }
  }
  
  
  
  
  


