.portfolio-container {
  display: flex;
  min-width: 1200px;
  margin: 0;
  padding: 0;
}

.nav-bar {
  padding: 20px;
  text-align: center;
}

.ul {
  padding: 20px;
}

li {
text-decoration: none;
}


.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3%;
}

.line2 {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 20px 0 30px;
}

.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.image-item {
  flex-basis: calc(33% - 20px);
  text-align: center;
}

.image-item img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
}

.nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav a:hover {
  color: #E4F060;
}


/* Change the color of the section background - .image-row changes all, add custom classname to change individual section */

.image-row, .branding {
  background-color: #fff;
}

.branding {
  width: 100%;
}

.bg-left {
  width: 50%; /* Takes up 40% of the width */
  background-color: #000; /* Optional for debugging */
  padding: 20px;
}

.bg-right {
  width: 50%; /* Takes up 60% of the width */
  background-color: #000; /* Optional for debugging */
  padding: 20px;
}

/* Media Query for Small Screens */
@media (max-width: 525px) {
.image-item {
  max-width: 70%;
    min-height: 20%;
    max-height: 30%;
}

.image-item {
  flex-basis:content;
  text-align: center;
}

.section-title {
  font-size: 2rem;
}


.portfolio-container {
  min-width: auto;
  max-width: 100vw;
}

  }