.portfolio-container {
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
  }
  
  .section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .project-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .editorial img {
    width: 100%;       /* Makes the image responsive */
    max-width: 500px;  /* Limits the image width to 500px */
    height: auto;      /* Maintains the aspect ratio */
  }


  .image-row {
    display: flex;
    justify-content: space-around; /* Space between images */
    gap: 20px; /* Optional: Adds space between images */
  }
  
  .image-item {
    text-align: center; /* Center-align text under each image */
  }
  
  .image-item img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }